.ChoosePath{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
	width:20rem;
	height:40rem;
	border-radius:10px;
	border:solid 1px gray;
	float: left;
	position: relative;
	font-size: 20px;
	text-align: center;
    background-color: white;
	 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

button{
    background-color: rgba(255, 255, 255, 0.445);
	width: 200px;
}