/* Error.css */

.Error {
    text-align: center;
    padding: 20px;
  }
  
  .error-text {
    font-weight: bold;
    margin-bottom: 50px; /* Ajuste a distância entre o texto e o botão conforme necessário */
    font-size: 26px;
  }
  
 

  