h1 {
    font-size: 2em;
    line-height: 1.1;
    color: red;
  }

.box{
    display: flex;
    height: 10em;
    width: 10em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    float: left;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
   transition: 0.4s;
   margin: 2em;
}

.box:hover{
    transform: scale3d(1.15,1.15,1.15);
}

.row{
    display: flex;
    justify-content: space-around;
}

#row1{
    margin-bottom: 5rem;
}