/* Start.css */

body {
  margin: 0;
  padding: 0;
}

.Start {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url('../image/aoc_menor.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  text-align: center;
  color: white;
}

h1 {
  color: rgb(14, 16, 14) !important;
  font-size: 3em;
  line-height: 1.1;
}

button {
  background-color: rgb(26, 208, 26);
  color: black;
  font-weight: bold;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}

button:hover {
  background-color: beige;
}

p {
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
}
